<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un nouveau utilisateur</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Ajouter un nouveau utilisateur</h1>
    <form action="/registerUser" method="POST">
        <label for="nom">Nom</label>
        <input type="text" name="nom" required>
        <label for="prenom">Prenom</label>
        <input type="text" name="prenom" required>
        <label for="email">Email</label>
        <input type="email" name="email" required>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" required>
        <label for="role">Role</label>
        <select name="role" required>
            <option value="RH">RH</option>
            <option value="Manager">Manager</option>
        </select>
        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>
